@import "./components/header.scss";
@import "./components/hero.scss";
@import "./components/description.scss";
@import "./components/speakers.scss";
@import "./components/diary.scss";
@import "./components/counter.scss";
@import "./lib/breakpoints.scss";
@import "./lib/vars.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(64,50,40);
    background: radial-gradient(circle, rgb(64,50,40) 0%,  rgb(0,0,0) 40%, rgb(0,0,0) 80%);
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile{
        padding: 0;
        width: 100%;
    }

    @include tablet{

        
    }

    @include laptop{
        
        
    }

    @include desktop{
        
    }
}