@import "./components/header.scss";
@import "./components/hero.scss";
@import "./lib/breakpoints.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}



body {
    background-image: url(../../images/backgrouds/bckg-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile{
        padding: 0;
        width: 100%;
        max-width: 375px;
        min-width: 320px;
    }

    @include tablet{

        
    }

    @include laptop{
        
        
    }

    @include desktop{
        
    }
}