@import "../lib/vars.scss";
@import "../lib/fonts.scss";
@import "../lib/breakpoints.scss";

.hero {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content-banner{
        width: 100%;
        height: auto;

        .content-banner__item {
            width: 100%;
            height: auto;
        }
    }

    .btn-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 0 30px 0 0;
        position: relative;
        top: -90px;

        @include mobile{
            padding: 0;
            width: 100%;
            max-width: 426px;
            min-width: 320px;
            align-items: center;
            justify-content: center;
            padding: 0 0 0 0;
            top: 0;
            margin-top: 15px;
        }
        
        .btn {
            text-decoration: none;
            color: white;
            background-color: #03A5B1;
            padding: 10px 25px;
            border-radius: 12px;
            text-transform: uppercase;
            font-family: $text-btn-font;
            font-size: 33px;
            transition: background-color 1s ease-in-out;
        }

        .btn:hover{
            background-color:  #686091;
            color: #fff;
            transition: background-color 1s ease-in-out;
        }
    }

}