@import "../lib/vars.scss";
@import "../lib/breakpoints.scss";

.sponsors {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

    .sponsors-title {
        font-family: $Titles-sections-font;
        color: #30CBEF;
        font-size: 40px;
        margin-bottom: 40px;
    }

    #container-slider {
        position: relative;
        display: block;
        width: 100%;

        .arrowPrev, .arrowNext{
            font-size: 20pt;
            color: #E4C084;
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 60px;
            z-index: 2;

            @include mobile {
                left: 15px;
            }
            @include tablet{
                left: 15px;
            }
            @include laptop {
                left: 40px;
            }
            @include desktop {
                left: 130px;
            }
        }

        .arrowNext {
            left: initial;
            right: 60px;

            @include mobile {
                right: 15px;
            }
            @include tablet{
                right: 15px;
            }

            @include laptop {
                right: 40px;
            }
            @include desktop {
                right: 130px;
            }
        }

        .listslider {
            position: absolute;
            visibility: hidden;
            justify-content: space-between;
            align-items: center;
            left: 50%;
            bottom: 5%;
            list-style: none;
            z-index: 2;
            transform: translateX(-50%);
        }

        #slider-3 {
            position: relative;
            display: block;
            width: 100%;

            @include mobile {
                height: 300px;
                top: 0;
            }

            @include tablet {
                top: -70px;
            }

            .content-banner {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-transition: opacity 1s;
                -moz-transition: opacity 1s;
                -ms-transition: opacity 1s;
                -o-transition: opacity 1s;
                transition: opacity 1s;
                z-index: -1;
                opacity: 0;

                .sponsors-container {
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 8px;

                    @include mobile {
                        flex-direction: column;
                        height: 100px;
                    }

                    .sponsors-item {
                        width: 230px;
                        margin: 0 10px;

                        @include mobile {
                            width: 200px;
                            margin: 0 0 10px 0;
            
                        }
                    
                        @include tablet{
                            width: 150px;
                            
                        }
                    
                        @include laptop{
                            width: 200px;
                            
                        }
                    
                        @include desktop{
                            width: 230px;
                        }
                    }
                }
            }    
        }
    }
}